[workspace]
members = ["numaflow", "examples/*", "examples/sideinput/udf"]
# Only check / build main crate by default (check all with `--workspace`)
default-members = ["numaflow"]
resolver = "2"

[workspace.package]
rust-version = "1.89.0"
