[package]
name = "numaflow"
version = "0.1.0"
edition = "2021"

[lib]
name = "numaflow"
path = "src/lib.rs"

[dependencies]
tonic = "0.10.2"
prost = "0.12.3"
prost-types = "0.12.3"
tokio = { version = "1.0", features = ["macros", "rt-multi-thread"] }
tokio-stream = { version = "0.1.14", features = ["net"] }
serde = { version = "1.0.194", features = ["derive"] }
chrono = "0.4.31"
serde_json = "1.0.111"
futures-util = "0.3.30"
tracing = "0.1.40"

[build-dependencies]
tonic-build = "0.10.2"

[dev-dependencies]
tempfile = "3.9.0"
tower = "0.4.13"
