name: Tests

on:
  push:
    branches:
      - main
      - release-*
  pull_request:
    branches:
      - main

defaults:
  run:
    shell: bash

jobs:
  build:
    name: Clippy and Unit Tests
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Install Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1          
        with:
          components: rustfmt
          cache-workspaces: |
            . -> target

      - name: Configure sccache
        run: |
          echo "RUSTC_WRAPPER=sccache" >> $GITHUB_ENV
          echo "SCCACHE_GHA_ENABLED=true" >> $GITHUB_ENV

      - name: Run sccache-cache
        uses: mozilla-actions/sccache-action@v0.0.9

      - name: Install dependencies
        run: sudo apt-get install -y protobuf-compiler

      - name: Code Generation
        run: make codegen

      - name: Ensure generated code is checked in
        run: git diff --exit-code

      - name: Lint
        run: make lint

      - name: Run tests
        run: make test

      - name: Documentation generation
        run: RUSTFLAGS="-D warnings" cargo doc

      # To view the list of files included in the package: cargo package -p numaflow --list
      - name: Dry run Cargo Publish
        run: cargo publish -p numaflow --dry-run
